/* Google Font CDN link */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white-color: #fff;
  --black-color: #000;
  --gray-color: rgb(219, 219, 219);
  --css-color: #800080;
  --html5-color: #ff4500;
  --javascript-color: #ffff00;
  --laravel-color: #ff1717;
  --filamentphp-color: #ffa500;
  --bg-color: rgba(255, 255, 255, 0.8);
  --border-color: rgba(0, 0, 0, 0.8);
}
.darkmode {
  --white-color: #fff;
  --black-color: #000;
  --gray-color: rgb(219, 219, 219);
  --css-color: #800080;
  --html5-color: #ff4500;
  --javascript-color: #ffff00;
  --laravel-color: #ff1717;
  --filamentphp-color: #ffa500;
  --bg-color: rgba(0, 0, 0, 0.8);
  --border-color: rgba(255, 255, 255, 0.8);
}

.darkmode:hover {
  --black-color: #fff;
  --white-color: #000;
}

#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}
.darkmode #theme-switch svg:last-child {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--bg-color);
}

header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  z-index: 1000;
}

.logo {
  font-size: 1.3rem;
  font-weight: 600;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
}

.logo span {
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
  background-clip: text;
  color: transparent;
}

.logo:hover {
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  gap: 2rem;
}

li a {
  position: relative;
  color: #a0a0a0;
  font-weight: 300;
}

li a::before {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  height: 5px;
  top: 25px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}

li a:hover::before {
  width: 100%;
}

li a:hover {
  color: var(--black-color);
}
.visit-btn {
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  color: var(--white-color);
  cursor: pointer;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}

.visit-btn:hover {
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
  transform: scale(1.03);
}

#menu-icon {
  font-size: 2rem;
  display: none;
}

section {
  min-height: 100vh;
  padding: 8rem 12%;
  width: 100%;
  position: relative;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

/* .about img {
  width: 15vw;
  border-radius: 20px;
  border: var(--black-color) solid 2px;
} */

.about .logo-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.logo-box img {
  width: 9vw;
  border-radius: none;
  cursor: pointer;
  transition: 3s, ease-in-out;
}

.logo-box img:hover {
  transform: scale(1.5);
}

.info-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}

.info-box h3 {
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 0.5;
}

.info-box h1 {
  font-size: 4rem;
  font-weight: 600;
}

.info-box span {
  font-size: 2rem;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
  background-clip: text;
  color: transparent;
}

.info-box .btn-group {
  display: flex;
  gap: 1rem;
}

.info-box .btn {
  border: 2px solid var(--black-color);
  gap: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  color: var(--black-color);
  font-weight: 500;
  text-wrap: nowrap;
  transition: 0.2s ease-in-out;
}

.info-box .btn:hover {
  color: var(--white-color);
  background-color: var(--black-color);
}

.socials {
  display: flex;
  gap: 2rem;
}

.socials i {
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.socials i:hover {
  transform: scale(1.1);
}

.section-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.experience-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.experience img {
  width: 30vw;
  border: 2px solid var(--black-color);
  border-radius: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.grid-card {
  border: 2px solid var(--black-color);
  border-radius: 3rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.grid-card:hover {
  transform: scale(1.02);
  background-color: var(--black-color);
  color: var(--white-color);
}

.grid-card i {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.grid-card span {
  font-size: 1.5rem;
  font-weight: 500;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
  background-clip: text;
  color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(0, 157, 255), rgb(255, 0, 255));
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.project-card {
  border: 2px solid var(--black-color);
  border-radius: 3rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.project-card:hover {
  background-color: var(--black-color);
  color: var(--white-color);
  transform: translateY(-10px) scale(1.02);
}

.project-card img {
  width: 100%;
  border-radius: 1rem;
}

.project-card .btn-group {
  display: flex;
  gap: 1rem;
}

.project-card .btn-group-tech {
  display: flex;
  gap: 1rem;
}

.project-card .btn-group-tech .btn-html5 {
  padding: 10px;
  color: var(--black-color);
  background-color: var(--html5-color);
  border-radius: 20px;
}

.project-card .btn-group-tech .btn-css {
  padding: 10px;
  color: var(--black-color);
  background-color: var(--css-color);
  border-radius: 20px;
}

.project-card .btn-group-tech .btn-javascript {
  padding: 10px;
  color: var(--black-color);
  background-color: var(--javascript-color);
  border-radius: 20px;
}

.project-card .btn-group-tech .btn-laravel {
  padding: 10px;
  color: var(--white-color);
  background-color: var(--laravel-color);
  border-radius: 20px;
}

.project-card .btn-group-tech .btn-filamentphp {
  padding: 10px;
  color: var(--white-color);
  background-color: var(--filamentphp-color);
  border-radius: 20px;
}

.project-card .btn-group .btn {
  padding: 10px;
  border: 2px solid var(--black-color);
  border-radius: 20px;
}

.project-card:hover .btn {
  border: 2px solid var(--white-color);
  color: var(--white-color);
}

.project-card:hover .btn:hover {
  border: 2px solid var(--white-color);
  background-color: var(--white-color);
  color: var(--black-color);
}

.project-card h3 {
  font-size: 2rem;
  font-weight: 700;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}
.input-box input {
  border-radius: 3rem;
  border: 2px solid var(--black-color);
  padding: 2rem 8rem;
  font-size: 3rem;
}

.input-box input::placeholder {
  font-size: 3rem;
}

.input-box .btn-submit {
  background-color: var(--black-color);
  color: var(--white-color);
  text-align: center;
  padding: 3rem 8rem;
}

.input-box .btn-submit {
  border: 2px solid var(--black-color);
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.input-box .btn-submit:hover {
  color: var(--black-color);
  background-color: var(--white-color);
}

.input-form {
  position: relative;
}

.input-form i {
  position: absolute;
  font-size: 4rem;
  top: 50%;
  left: 10px;
  transform: translate(50%, -50%);
}

footer {
  bottom: 0;
  left: 0;
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

footer ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

footer ul li a {
  color: #a0a0a0;
  font-weight: 300;
}

.copyright {
  font-size: 300;
  margin-top: 2rem;
}

@media (max-width: 1280px) {
  header {
    padding: 1rem 2rem;
    gap: 2rem;
  }
  .about .about-container {
    gap: 3rem;
  }
  .experience-info {
    flex-direction: column;
  }
  .input-box input {
    padding: 2rem 5rem;
    font-size: 2.5rem;
  }

  .input-box input::placeholder {
    font-size: 2.5rem;
  }
  .input-box {
    font-size: 2.5rem;
  }
  .logo-box img {
    width: 30vw;
  }
}
@media (max-width: 768px) {
  header {
    gap: 1rem;
    padding: 1rem 1rem;
  }
  header .logo {
    font-size: 1rem;
  }
  header .visit-btn {
    display: none;
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .about-container img {
    width: 40vw;
  }

  .input-box input {
    padding: 1rem 2rem;
    font-size: 1.8rem;
  }

  .input-box input::placeholder {
    font-size: 1.5rem;
  }

  .input-box i {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .experience-info img {
    width: 70vw;
  }

  .input-box .btn-submit {
    font-size: 1.5rem;
  }
  .logo-box img {
    width: 30vw;
  }
}
@media (max-width: 600px) {
  .nav-links {
    position: absolute;
    top: 100%;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 3rem;
    display: none;
  }
  .nav-links.active {
    display: block;
  }

  .nav-links li {
    margin-top: 1.5rem;
    padding: 1rem;
  }

  .nav-links li a {
    color: var(--white-color);
  }

  header #menu-icon {
    display: block;
    cursor: pointer;
  }
  header {
    padding: 1rem 4rem;
    gap: 8rem;
  }
  header .logo {
    font-size: 1.6rem;
  }
  .about-container img {
    width: 60vw;
  }

  .logo-box img {
    width: 30vw;
  }
}
