/* Google Font CDN link */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white-color: #fff;
  --black-color: #000;
  --gray-color: rgb(219, 219, 219);
  --css-color: #800080;
  --html5-color: #ff4500;
  --javascript-color: #ffff00;
  --laravel-color: #ff1717;
  --filamentphp-color: #ffa500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  z-index: 1000;
}

.logo {
  font-size: 1.3rem;
  font-weight: 600;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
}

.logo span {
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
  background-clip: text;
  color: transparent;
}

.logo:hover {
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  gap: 2rem;
}

li a {
  position: relative;
  color: #a0a0a0;
  font-weight: 300;
}

li a::before {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  height: 5px;
  top: 25px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}

li a:hover::before {
  width: 100%;
}

li a:hover {
  color: var(--black-color);
}
.visit-btn {
  padding: 0.8rem 1.5rem;
  border-radius: 3rem;
  border: none;
  font-weight: 500;
  font-size: 1rem;
  color: var(--white-color);
  cursor: pointer;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}

.visit-btn:hover {
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
  transform: scale(1.03);
}

#menu-icon {
  font-size: 2rem;
  display: none;
}

section {
  min-height: 100vh;
  padding: 8rem 12%;
  width: 100%;
  position: relative;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.about img {
  width: 30vw;
  border-radius: 20px;
  border: var(--black-color) solid 2px;
}

.info-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}

.info-box h3 {
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 0.5;
}

.info-box h1 {
  font-size: 4rem;
  font-weight: 600;
}

.info-box span {
  font-size: 2rem;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
  background-clip: text;
  color: transparent;
}

.info-box .btn-group {
  display: flex;
  gap: 1rem;
}

.info-box .btn {
  border: 2px solid var(--black-color);
  gap: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  color: var(--black-color);
  font-weight: 500;
  text-wrap: nowrap;
  transition: 0.2s ease-in-out;
}

.info-box .btn:hover {
  color: var(--white-color);
  background-color: var(--black-color);
}

.socials {
  display: flex;
  gap: 2rem;
}

.socials i {
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.socials i:hover {
  transform: scale(1.1);
}

.section-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.experience-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.experience img {
  width: 30vw;
  border: 2px solid var(--black-color);
  border-radius: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.grid-card {
  border: 2px solid var(--black-color);
  border-radius: 3rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.grid-card:hover {
  transform: scale(1.02);
  background-color: var(--black-color);
  color: var(--white-color);
}

.grid-card i {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.grid-card span {
  font-size: 1.5rem;
  font-weight: 500;
  background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
  background-clip: text;
  color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(0, 157, 255), rgb(255, 0, 255));
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.project-card {
  border: 2px solid var(--black-color);
  border-radius: 3rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.project-card:hover {
  background-color: var(--black-color);
  color: var(--white-color);
  transform: translateY(-10px) scale(1.02);
}

.project-card img {
  width: 100%;
  border-radius: 1rem;
}

.project-card .btn-group {
  display: flex;
  gap: 1rem;
}

.project-card .btn-group-tech {
  display: flex;
  gap: 1rem;
}

.project-card .btn-group-tech .btn-html5 {
  padding: 10px;
  color: var(--black-color);
  background-color: var(--html5-color);
  border-radius: 20px;
}

.project-card .btn-group-tech .btn-css {
  padding: 10px;
  color: var(--black-color);
  background-color: var(--css-color);
  border-radius: 20px;
}

.project-card .btn-group-tech .btn-javascript {
  padding: 10px;
  color: var(--black-color);
  background-color: var(--javascript-color);
  border-radius: 20px;
}

.project-card .btn-group-tech .btn-laravel {
  padding: 10px;
  color: var(--white-color);
  background-color: var(--laravel-color);
  border-radius: 20px;
}

.project-card .btn-group-tech .btn-filamentphp {
  padding: 10px;
  color: var(--white-color);
  background-color: var(--filamentphp-color);
  border-radius: 20px;
}

.project-card .btn-group .btn {
  padding: 10px;
  border: 2px solid var(--black-color);
  border-radius: 20px;
}

.project-card:hover .btn {
  border: 2px solid var(--white-color);
  color: var(--white-color);
}

.project-card:hover .btn:hover {
  border: 2px solid var(--white-color);
  background-color: var(--white-color);
  color: var(--black-color);
}

.project-card h3 {
  font-size: 2rem;
  font-weight: 700;
}
